*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #ececec;
}

.ajuste{
  margin: 55px;
  background-color: #fcfcfc;
}

.ajuste2{
  margin: 55px;
  background-color: #fcfcfc;
  text-align: center; 
}

.ajuste3{
  margin: 55px;
  background-color: #fcfcfc;
  text-align: center; 
}

.ajuste4{
  margin: 55px;
  background-color: #fcfcfc;
  text-align: center; 
}

img{
  max-width:80%;
  height:auto;
  margin-bottom: 15px;
}

h2{
  text-align: center;
  margin: 40px;
  font-size: 50px;
  color: #252626;
}

#p2 {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Arial';
  font-size: 23px;
}

.card1 {
  margin-top: 30px;
}

.menu{
  width: 100%;
  height: 100px;
  background-color: #077cc3;
  font-family: 'Arial';
}

.menu ul{
  list-style: none;
  position: relative;
}

.menu ul li{
  width: 150px;
  float: left;
}

.menu a{
  padding: 40px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #077cc3;
  color: #fff;
}

.menu ul ul{
  position: absolute;
  visibility: hidden;
}

.menu ul li:hover ul{
  visibility: visible;
}

.menu a:hover{
  background-color: #f4f4f4;
  color: #555;
}

.menu ul ul li{
  float: none;
  border-bottom: solid 1px #ccc;
}

.menu ul ul li a{
  background-color: #D3D3D3;
  color: #000;
}

label[for="bt_menu"]{
  padding: 5px;
  background-color: #077cc3;
  color: #fff;
  font-family: 'Arial';
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#bt_menu{
  display: none;
}

label[for="bt_menu"]{
  display: none;
}

#finalidadeum{
  margin-top: 50px;
  text-align: center;
  font-size: 23px;
  line-height: 30px;
  margin: 30px;
}

@media(max-width: 800px){

  label[for="bt_menu"]{
  display: block;
}

#bt_menu:checked ~ .menu{
  margin-left: 0;
}

  .menu{
    margin-top: 5px;
    margin-left: -100%;
    transition: all .4s;  
  }

  .menu ul li{
    width: 100%;
    float: none;
  }

  .menu ul ul{
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all .4s;
  }

  .menu ul li:hover ul{
    height: auto;
    max-height: 400px;
  }  
}



/* Copyright                                                                     */
/*********************************************************************************/

  #copyright
  {
    overflow: hidden;
    padding: 3em 0em 5em 0em;
    border-top: 1px solid #D4D4D4;
  }
  
  #copyright p
  {
    letter-spacing: 0.20em;
    text-align: center;
    font-size: 0.90em;
    color: #5C5C5C;
  }
  
  #copyright a
  {
    text-decoration: none;
    color: #5C5C5C;
  }

/*********************************************************************************/